@charset "UTF-8";

p{
	color:green;
	font-weight: bold;   
	font-size: 30px;
	}

body {
	margin: 0; 
	padding: 0; 
	}

#menu { 
	height: 70px; 
	background-color: #eee;   
	}

a{text-decoration: none;}

.a, #menu_form{ 
	display:inline-block;  
	margin-top:20px; 
	text-decoration: none; 
	font: bold;  
	width: 100px; 
	text-align: center; 
	}
	


#login_info { font-size: 12px; }
